.screen__container{
    height: 160px;
}

.screen__equation{
    display: flex;
    justify-content: flex-end;
}

.screen__term{
   
}
.screen__result-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.screen__result{
    position: absolute;
    bottom: 30px;
    right: 30px;
}