.screen__container{
    height: 150px;
}

/* For the future: add code to dynamically change the font size when the text gets too long.*/
.screen__equation{
    height: 20px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 20px;
    padding-right: 8px;
}

.screen__term{
   font-size: 25px;
   color: #000213;
   padding: 2px;
}

.screen__term-operator{
    font-size: 20px;
    color: #7c7f98;
    padding: 2px;
 }
.screen__result-container{
    position: relative;
    top: 85px;
    text-align: right;
    padding-right: 10px;

}
.screen__result{
    font-size: 18px;
    color:rgba(0, 2, 19, .7);
}