@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Comfortaa&family=Poppins:wght@500&display=swap');

.app__container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}